@media (max-width: 480px) {
    section {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #Home {
        margin: 0 auto;
        padding: 0;
    }


    #Header_home {
        background-color: #3D348B;
        padding: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4px;

    }

    #Logo img {
        height: 30px;
        width: auto;
        position: relative;
        left: -32px;
    }

    .pesquisa {
        position: relative;
    }

    .pesquisa input {
        border-radius: 20px;
        padding: 8px 60px 8px 10px;
        position: relative;
        border: none;
        left: 25px;
    }

    .pesquisa button {
        position: absolute;
        top: 53%;
        right: 4px;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .pesquisa button img {
        height: 20px;
        width: auto;
        left: 25px;
        position: relative;
    }

    .menu {
        position: relative;
        display: inline-block;
        left: 90px;
    }

    .forms {
        position: relative;
        top: 350px;
        left: -82%;
        text-align: center;
    }

    .cordetd{
        color:  #7678ED;
    }

    .Coratt{
        background-color: #7678ED;
        border: solid 1px #7678ED;
        border-radius: 15px;
        color: #F1FAEE;
        width: 35%;
        height: 25px;
    }

    .titulo {
        text-align: center;
        color: #7678ED;
        position: relative;
        top: 107px;
        left: -35%;
    }

    .redondo{
        border-radius: 15px;
        border: solid 1px #BBBCEA;
        width: 75%;
        height: 20px;
    }

    footer {
        background-color: #E1ECDD;
        padding: 20px;
        margin-top: 20px;
        position: absolute;
        left: 0px;
        top: 550px;
        width: 91%;
    }

    .cor-texto-rodape {
        color: #124559;
        text-decoration: none;
    }

    .rodinha {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 400px;
        justify-content: center;
    }

    .subtitulo-rodape {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .lista-rodape {
        list-style-type: none;
    }

    .nini {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .direito p {
        width: 350px;
        display: grid;
        justify-content: center;
        font-weight: bold;

        left: 10%;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    .dest h1 {
        top: -35px;
        font-size: 30px;
        color: #3D348B;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}