<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Produto-Calça com Olhos</title>
	<link rel="stylesheet" type="text/css" href="css/produto.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="js/Script.js">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body id="Home">
  
<header id="Header_home">
  <h1 id="Logo">
    <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
    
  </h1>

  <div class="pesquisa">
    <input type="text" placeholder="Busque aqui.">
    <button type="button">
      <img src="imagens/Group 2 (1).png" alt="Psquisa">
    </button>
  </div>

  <div class="menu">  
    <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
    
   
    <div class="submenu">
      <ul>
        <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
        <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
        <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
      </ul>
    </div>
        <!--cart-->
        <div class="cart">
          <h2 class="cart-title">Seu carrinho</h2>
          <!--content-->
          <div class="cart-content">
          
          </div>
          <!--total-->
          <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">R$0</div>
        </div>
        <!--buy button-->
        <button type="button" class="btn-buy">Compre Agora</button>
        <!--Close Cart-->
        <i class="bx bx-x" id="close-cart"></i>
        </div>
  </header>
<main>
  <div class="product-box"> 
  <img
  src="imagens/roupa2.jpeg"
  class="product-img"
  />
</div>
  <h2 class="product-title">Blazer Customizado</h2>
  <span class="price">R$34.99</span>
  <i class="bx bx-shopping-bag add-cart">     Adicionar ao carrinho</i>
  <p class="s1">Selecione o tamanho:</p>
  <div class="container">
    <input type="radio" id="p" name="tamanho1" checked="checked">
    <label class=label for="p">P</label>
    <input type="radio" id="m" name="tamanho1">
    <label class=label for="m">M</label>
    <input type="radio" id="g" name="tamanho1">
    <label class=label for="g">G</label>
    <input type="radio" id="gg" name="tamanho1">
    <label class=label for="gg">GG</label>
</div>
<div class="cinza">
<p>Utilizamos apenas os melhores materiais disponíveis para garantir que não apenas pareça incrível, mas também seja confortável e durável. Com opções de tecidos variados, desde seda e lã até couro de alta qualidade. O prazo de envio é de 15 (quinze) a 20 (vinte) dias úteis, não incluso o prazo dos correios ou transportadora</p>
</div>
</main>
<body>
  <div class="cinza2">
  <div class="dest">
  <h1><strong>Recentes</strong></h1>
</div>
<div class="subvitrine">
  <div class="produto">
    <img src="imagens/roupa.jpeg" alt="Celular 1">
    <h3>CALÇA JEANS COM OLHOS</h3>
    <h4>R$ 69,99</h4>
  </div>

  <div class="produto">
    <img src="imagens/roupa1.jpeg" alt="Celular 1">
    <h3>CALÇA COM ANIMES</h3>
    <h4>R$ 99,99</h4>
  </div>

  <div class="produto">
    <img src="imagens/roupa2.jpeg" alt="Celular 1">
    <h3>BLAZE CUSTOMIZADO</h3>
    <h4>R$ 79,99</h4>
  </div>

  <div class="produto">
    <img src="imagens/roupa3.jpeg" alt="Celular 1">
    <h3>CALÇA CARGO COM CORRENTES </h3>
    <h4>R$ 109,99</h4>
  </div>
</div>
<footer>

  <div class="rodinha">

 
    <nav>
   
      <ul>
          <h3 class="subtitulo-rodape">Atendimento ao cliente</h3>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Central de Ajuda
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                 Como comprar
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Métodos de Pagamentos
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Garantia
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Devolução e Reembolso
              </a>
          </li>

          <li class="lista-rodape">
              <a href="#" class="cor-texto-rodape">
                  Fale Conosco
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Ouvidoria
              </a>
          </li>

      </ul>

  </nav>


  <nav>
    
      <ul>
          <h3><br>Siga-nos</h3>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Instagram
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Twitter
              </a>
          </li>

          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Facebook
              </a>
          </li>

      </ul>
  </nav>


  <nav>
    

      <ul>
          <h3><br>Sobre a Nix</h3>
          <li class="lista-rodape">
              <a href="" class="cor-texto-rodape">
                  Sobre Nós
              </a>
          </li>
          <li class="lista-rodape">
              <a href=""class="cor-texto-rodape">
                  Políticas NIX
              </a>
          </li>
          <li class="lista-rodape">
              <a href=""class="cor-texto-rodape">
                  Políticas de Privacidade
              </a>
          </li>
      </ul>
  </nav>

  <ul>
      <nav >
      <h3>Pagamentos</h3>

      <div class="nini">

      <li class="lista-rodape">
          <a href="" class="cor-texto-rodape">
              <img src="imagens/visa.png">
          </a>
      </li>

      <li class="lista-rodape">
          <a href="" class="cor-texto-rodape">
              <img src="imagens/mastercard.png">
          </a>
      </li>
      <li class="lista-rodape">
          <a href="" class="cor-texto-rodape">
              <img src="imagens/elo.png">
      </li>
      <li class="lista-rodape">
          <a href="" class="cor-texto-rodape">
              <img src="imagens/paypal.png">
          </a>
      </li>
      </div>
    </nav>
  </ul>
  </div>
  <div class="direito">
  <p>© 2022 NIXwear.Todos os direitos reservados</p>
  <p>País e região: Brasil</p>
  </div>

</footer>
  
</body>
   <script src="js/Script.js"></script>
  <script src="js/carrinho.js"></script>
  <script src="js/cart.js"></script>