<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="/publicarproduto" method="post" enctype="multipart/form-data">
            <span>Imagem do produto</span><br>
            <input type="file" name="img_produto"><br>
            <span>Nome Do produto</span><br>
            <input type="text" name="nome_produto"><br>
            <span>Descrição do Produto</span><br>
            <input type="text" name="descricao_produto"><br>
            <span>Preço</span><br>
            <input type="number" name="preco" id=""><br>
            <span>Loja</span><br>
            <input type="text" name="loja" ><br>
            
            <button>Publicar</button>
        </form>
    </section>
</body>
</html>