<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Devolução e Reembolso</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header id="Header_home">
        <h1 id="Logo">
          <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
          
        </h1>
      
        <div class="pesquisa">
      
          <input type="text" placeholder="Busque aqui.">
          <button type="button">
            <img src="imagens/Group 2 (1).png" alt="Psquisa">
          </button>
        </div>
      
        <div class="menu">
          <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
          
         
          <div class="submenu">
            <ul>
              <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
              <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
              <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
            </ul>
          </div>
              <!--cart-->
    <div class="cart">
      <h2 class="cart-title">Seu carrinho</h2>
      <!--content-->
      <div class="cart-content">
      
      </div>
      <!--total-->
      <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">R$0</div>
    </div>
    <!--buy button-->
    <button type="button" class="btn-buy">Compre Agora</button>
    <!--Close Cart-->
    <i class="bx bx-x" id="close-cart"></i>
    </div>
        </header>
      
    <div id="header">
        <h2> Devolução e Reembolso</h2>
      </div>

      <img src="imagens/Line 2.png" alt="">

      <main>
        <p>Na Seu Comércio Online Confiança, nosso objetivo é garantir sua satisfação total em todas as compras realizadas em nosso site. No entanto, entendemos que, às vezes, você pode precisar devolver um produto. Portanto, oferecemos uma política de devolução e reembolso justa e transparente. A seguir, apresentamos os detalhes dessa política:</p>

        <div id="header">
            <h2> Nossa garantia:</h2>
          </div>
        <ol>
            <li class="TIOL">Prazo para Devolução:</li>
            <p> Você tem até 30 dias a partir da data de recebimento do produto para iniciar uma solicitação de devolução. Certifique-se de que o produto esteja na embalagem original e em perfeitas condições.</p>
            <li class="TIOL">Processo de Devolução: </li>
            <p>Para iniciar o processo de devolução, entre em contato com nossa equipe de atendimento ao cliente por telefone ou e-mail. Forneceremos as instruções necessárias e o formulário de devolução, que deverá ser preenchido e incluído junto ao produto devolvido.
            </p>
            <li class="TIOL">Condição do Produto:</li>
            <p>O produto deve ser devolvido nas mesmas condições em que foi recebido, sem sinais de uso, danos ou alterações. Reservamo-nos o direito de recusar uma devolução se o produto não estiver em conformidade com nossos critérios de aceitação.
            </p>
            <li class="TIOL">Envio da Devolução:</li>
            <p>Você será responsável pelo envio do produto de volta para nós. Recomendamos que você utilize um serviço de entrega rastreável para garantir a segurança e acompanhar a devolução. Os custos de envio da devolução são de sua responsabilidade, a menos que o produto seja qualificado para devolução gratuita, conforme indicado na página do produto.
            </p>
            <li class="TIOL">Reembolso:</li>
            <p>Assim que recebermos o produto devolvido e confirmarmos sua condição, procederemos ao reembolso. O reembolso será emitido no mesmo método de pagamento utilizado durante a compra original. O tempo necessário para o reembolso ser processado pode variar dependendo do método de pagamento e das políticas do seu banco ou provedor de serviços de pagamento.
            </p>
            <li class="TIOL">Envio da Devolução:</li>
            <p>Alguns produtos podem não ser elegíveis para devolução devido a restrições de higiene, uso íntimo ou personalização. Isso será claramente indicado na página do produto. Além disso, produtos em promoção ou em liquidação podem ter condições especiais de devolução. Verifique as informações específicas na página do produto antes de realizar a compra.
            </p>
        </ol>

        <p>
            Estamos comprometidos em resolver qualquer problema que você possa encontrar e garantir sua satisfação com suas compras na Seu Comércio Online Confiança. Nossa equipe de atendimento ao cliente está pronta para ajudá-lo em todo o processo de devolução e reembolso, esclarecendo suas dúvidas e fornecendo suporte quando necessário.

        </p>

        <p>
            Agradecemos por escolher a Seu Comércio Online Confiança como seu destino de compras online. Estamos aqui para garantir uma experiência positiva e tranquila em todas as etapas, incluindo a devolução e reembolso, se necessário.
        </p>

      </main>
</body>
</html>