<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garantia</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header id="Header_home">
        <h1 id="Logo">
          <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
          
        </h1>
      
        <div class="pesquisa">
      
          <input type="text" placeholder="Busque aqui.">
          <button type="button">
            <img src="imagens/Group 2 (1).png" alt="Psquisa">
          </button>
        </div>
      
        <div class="menu">
          <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
          
         
          <div class="submenu">
            <ul>
              <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
              <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
              <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
            </ul>
          </div>
              <!--cart-->
    <div class="cart">
      <h2 class="cart-title">Seu carrinho</h2>
      <!--content-->
      <div class="cart-content">
      
      </div>
      <!--total-->
      <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">R$0</div>
    </div>
    <!--buy button-->
    <button type="button" class="btn-buy">Compre Agora</button>
    <!--Close Cart-->
    <i class="bx bx-x" id="close-cart"></i>
    </div>
        </header>
      
    <div id="header">
        <h2> Garantia</h2>
      </div>

      <img src="imagens/Line 2.png" alt="">

      <main>
        <p>Bem-vindo à página de Garantia de Satisfação do Seu Comércio Online Confiança! Estamos comprometidos em oferecer a melhor experiência de compra e garantir sua total satisfação em cada transação. Acreditamos na qualidade de nossos produtos e no excelente atendimento ao cliente.</p>

        <div id="header">
            <h2> Nossa garantia:</h2>
          </div>
        <ul>
            <li class="TIOL">Qualidade dos Produtos:</li>
            <p> Selecionamos cuidadosamente todos os produtos disponíveis em nosso site, trabalhando apenas com fornecedores confiáveis e produtos de marcas renomadas. Caso você encontre qualquer defeito de fabricação em um produto adquirido conosco, estaremos prontos para substituí-lo ou reembolsá-lo integralmente, conforme nossa política de devolução.</p>
            <li class="TIOL">Entrega Segura: </li>
            <p>Comprometemo-nos a fornecer um processo de entrega seguro e confiável. Se o seu pedido não chegar dentro do prazo estimado ou se houver qualquer problema relacionado à entrega, entre em contato conosco imediatamente. Faremos o possível para resolver a situação o mais rápido possível e garantir que você receba seu produto de forma adequada.
            </p>
            <li class="TIOL">Atendimento ao Cliente Excepcional:</li>
            <p>Nossa equipe de atendimento ao cliente está disponível para ajudar e responder a todas as suas perguntas. Se você tiver alguma dúvida, preocupação ou precisa de assistência, entre em contato conosco. Estamos aqui para fornecer suporte personalizado e garantir que sua experiência de compra seja a melhor possível.
            </p>
            <li class="TIOL">Política de Devolução Justa:</li>
            <p>Entendemos que às vezes as expectativas podem não ser atendidas completamente. Portanto, se você não estiver satisfeito com sua compra, oferecemos uma política de devolução justa. Consulte nossos termos e condições de devolução para obter informações detalhadas sobre como proceder.
            </p>
        </ul>

        <p>
            Na Seu Comércio Online Confiança, trabalhamos constantemente para superar suas expectativas e garantir que você desfrute de uma experiência de compra online sem preocupações. Valorizamos sua confiança em nós e faremos o máximo para resolver qualquer problema que possa surgir.

        </p>

        <p>
            Agradecemos por escolher o Seu Comércio Online Confiança como seu destino de compras. Estamos aqui para ajudá-lo e fornecer a melhor garantia de satisfação possível. Sinta-se à vontade para explorar nossa ampla seleção de produtos e contar conosco para tornar suas compras online uma experiência positiva e satisfatória.
        </p>

      </main>
</body>
</html>