<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HOME - NIX WEAR </title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="js/Script.js">
  <link rel="stylesheet" href="js/slide.js">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body id="Home">
  
<header id="Header_home">
  <h1 id="Logo">
    <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
    
  </h1>

  <div class="pesquisa">
    <input type="text" placeholder="Busque aqui.">
    <button type="button">
      <img src="imagens/Group 2 (1).png" alt="Psquisa">
    </button>
  </div>

  <div class="menu">  
    <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
    
   
    <div class="submenu">
      <ul>
        <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
        <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
        <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
      </ul>
    </div>
    <!--cart-->
    <div class="cart">
      <h2 class="cart-title">Seu carrinho</h2>
      <!--content-->
      <div class="cart-content">
      
      </div>
      <!--total-->
      <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">R$0</div>
    </div>
    <!--buy button-->
    <button type="button" class="btn-buy">Compre Agora</button>
    <!--Close Cart-->
    <i class="bx bx-x" id="close-cart"></i>
    </div>
  </header>

  <div class="carousel">
    <div class="slide">
      <a href="#"><img src="imagens/black friday.png" alt="Slide 1"></a>
    </div>
    <div class="slide">
      <a href="#"><img src="imagens/carrossel 1.png" alt="Slide 2"></a>
    </div>
    <div class="slide">
      <a href="#"><img src="imagens/carrossel 2.png" alt="Slide 3"></a>
    </div>
  
    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
  </div>

   <section class="shop container">
<h2 class="section-title">Destaques</h2>
<!--Shop Content-->
<div class="shop-content">
<!--Box 1-->
<div class="product-box"> 
  <a href="/abaproduto">
<img
src="imagens/roupa.jpeg"
class="product-img"
/>
</a>
<h2 class="product-title">Calça com Olhos</h2>
<span class="price">R$49.99</span>
<i class="bx bx-shopping-bag add-cart"></i>
</div>

<!--Box 2-->
<div class="product-box"> 
  <a href="/abaproduto2">
  <img
  src="imagens/roupa1.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Calça de Animes</h2>
  <span class="price">R$50.00</span>
  <i class="bx bx-shopping-bag add-cart"></i>
  </div>
  <!--Box 3-->
<div class="product-box"> 
  <a href="/abaproduto3">
  <img
  src="imagens/roupa2.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Blazer Customizado</h2>
  <span class="price">R$34.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
  </div>
  <!--Box 4-->
<div class="product-box"> 
  <a href="/abaproduto4">
  <img
  src="imagens/roupa3.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Calça de Correntes</h2>
  <span class="price">R$47.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
</div>
  <!--Box 5-->
  <div class="product-box"> 
    <a href="/abaproduto5">
    <img
    src="imagens/roupa4.jpeg"
    class="product-img"
    />
  </a>
    <h2 class="product-title">Kimono Customizado</h2>
    <span class="price">R$69.99</span>
    <i class="bx bx-shopping-bag add-cart"></i>
  </div>
    <!--Box 6-->
<div class="product-box"> 
  <a href="/abaproduto6">
  <img
  src="imagens/roupa5.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Suéter de Caveira</h2>
  <span class="price">R$57.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
</div>
  <!--Box 7-->
  <div class="product-box">
    <a href="/abaproduto7">
    <img
    src="imagens/roupa6.jpeg"
    class="product-img"
    />
  </a>
    <h2 class="product-title">Boina</h2>
    <span class="price">R$19.99</span>
    <i class="bx bx-shopping-bag add-cart"></i>
  </div>
    <!--Box 8-->
<div class="product-box"> 
  <a href="/abaproduto8">
  <img
  src="imagens/roupa7.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Calça Customizada</h2>
  <span class="price">R$34.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
</div>
   <!--Box 9-->
   <div class="product-box"> 
    <a href="/abaproduto9">
    <img
    src="imagens/roupa8.jpeg"
    class="product-img"
    />
  </a>
    <h2 class="product-title">Touca com orelhas</h2>
    <span class="price">R$14.99</span>
    <i class="bx bx-shopping-bag add-cart"></i>
  </div>
     <!--Box 10-->
<div class="product-box"> 
  <a href="/abaproduto10">
  <img
  src="imagens/roupa9.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Bolsa Hello Kitty</h2>
  <span class="price">R$23.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
</div>
   <!--Box 11-->
   <div class="product-box"> 
    <a href="/abaproduto11">
    <img
    src="imagens/roupa10.jpeg"
    class="product-img"
    />
  </a>
    <h2 class="product-title">Suéter Xadrez</h2>
    <span class="price">R$39.99</span>
    <i class="bx bx-shopping-bag add-cart"></i>
  </div>
     <!--Box 12-->
<div class="product-box"> 
  <a href="/abaproduto1">
  <img
  src="imagens/roupa11.jpeg"
  class="product-img"
  />
</a>
  <h2 class="product-title">Cropped Rock</h2>
  <span class="price">R$31.99</span>
  <i class="bx bx-shopping-bag add-cart"></i>
</div>
</div>
</section>
  <footer>

    <div class="rodinha">

   
      <nav>
     
        <ul>
            <h3 class="subtitulo-rodape">Atendimento ao cliente</h3>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Central de Ajuda
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                   Como comprar
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Métodos de Pagamentos
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Garantia
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Devolução e Reembolso
                </a>
            </li>

            <li class="lista-rodape">
                <a href="#" class="cor-texto-rodape">
                    Fale Conosco
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Ouvidoria
                </a>
            </li>

        </ul>

    </nav>

  
    <nav>
      
        <ul>
            <h3><br>Siga-nos</h3>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Instagram
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Twitter
                </a>
            </li>

            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Facebook
                </a>
            </li>

        </ul>
    </nav>

  
    <nav>
      

        <ul>
            <h3><br>Sobre a Nix</h3>
            <li class="lista-rodape">
                <a href="" class="cor-texto-rodape">
                    Sobre Nós
                </a>
            </li>
            <li class="lista-rodape">
                <a href=""class="cor-texto-rodape">
                    Políticas NIX
                </a>
            </li>
            <li class="lista-rodape">
                <a href=""class="cor-texto-rodape">
                    Políticas de Privacidade
                </a>
            </li>
        </ul>
    </nav>

    <ul>
        <nav >
        <h3>Pagamentos</h3>

        <div class="nini">

        <li class="lista-rodape">
            <a href="" class="cor-texto-rodape">
                <img src="imagens/visa.png">
            </a>
        </li>

        <li class="lista-rodape">
            <a href="" class="cor-texto-rodape">
                <img src="imagens/mastercard.png">
            </a>
        </li>
        <li class="lista-rodape">
            <a href="" class="cor-texto-rodape">
                <img src="imagens/elo.png">
        </li>
        <li class="lista-rodape">
            <a href="" class="cor-texto-rodape">
                <img src="imagens/paypal.png">
            </a>
        </li>
        </div>
      </nav>
    </ul>
    </div>
    <div class="direito">
    <p>© 2022 NIXwear.Todos os direitos reservados</p>
    <p>País e região: Brasil</p>
    </div>

</footer>
<script src="js/slide.js"></script>
   <script src="js/Script.js"></script>
  <script src="js/carrinho.js"></script>
  <script src="js/cart.js"></script>
</body>
</html>
