<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Métodos de pagamento </title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header id="Header_home">
        <h1 id="Logo">
          <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
          
        </h1>
      
        <div class="pesquisa">
      
          <input type="text" placeholder="Busque aqui.">
          <button type="button">
            <img src="imagens/Group 2 (1).png" alt="Psquisa">
          </button>
        </div>
      
        <div class="menu">
          <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
          
         
          <div class="submenu">
            <ul>
              <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
              <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
              <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
            </ul>
          </div>
              <!--cart-->
    <div class="cart">
      <h2 class="cart-title">Seu carrinho</h2>
      <!--content-->
      <div class="cart-content">
      
      </div>
      <!--total-->
      <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">R$0</div>
    </div>
    <!--buy button-->
    <button type="button" class="btn-buy">Compre Agora</button>
    <!--Close Cart-->
    <i class="bx bx-x" id="close-cart"></i>
    </div>
        </header>
      
    <div id="header">
        <h2> Métodos de pagamento </h2>
      </div>

      <img src="imagens/Line 2.png" alt="">

      <main>
        <p>Na nossa loja de roupas, oferecemos diversas opções de pagamento para tornar sua experiência de compra o mais conveniente e flexível possível. Reconhecemos a importância de disponibilizar métodos de pagamento acessíveis e seguros, garantindo assim a comodidade e a tranquilidade dos nossos clientes durante todo o processo de compra. Nesta seção, vamos destacar os métodos de pagamento disponíveis em nossa loja, explicando como cada um deles funciona.</p>

        <ol>
            <li class="TIOL"> Cartões de Crédito:</li>
            <p> Aceitamos uma ampla variedade de cartões de crédito, incluindo Visa, Mastercard, American Express e outros. Ao selecionar essa opção de pagamento, você precisará fornecer os dados do seu cartão, como número, data de validade e código de segurança. As transações com cartão de crédito são processadas de forma segura, utilizando tecnologia de criptografia para proteger suas informações pessoais.</p>
            <li class="TIOL">Cartões de Débito:</li>
            <p>Também aceitamos cartões de débito vinculados a redes como Visa Electron, Maestro e outras. Ao escolher essa opção, você deverá inserir os dados do seu cartão, que incluem número, data de validade e, em alguns casos, o código de segurança. A transação será concluída diretamente na sua conta bancária.
            </p>
        </ol>

        <p>Caso você tenha alguma dúvida específica sobre os métodos de pagamento ou precise de assistência adicional, nossa equipe de suporte está disponível para ajudá-lo. Estamos aqui para tornar sua experiência de compra em nossa loja de roupas a mais conveniente e satisfatória possível.</p>
      </main>
</body>
</html>