<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ouvidoria</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header id="Header_home">
        <h1 id="Logo">
          <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
          
        </h1>
      
        <div class="pesquisa">
      
          <input type="text" placeholder="Busque aqui.">
          <button type="button">
            <img src="imagens/Group 2 (1).png" alt="Psquisa">
          </button>
        </div>
      
        <div class="menu">
          <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
          
         
          <div class="submenu">
            <ul>
              <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
              <li><a href="/perfil"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
              <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
            </ul>
          </div>
                        <!--cart-->
    <div class="cart">
      <h2 class="cart-title">Seu carrinho</h2>
      <!--content-->
      <div class="cart-content">
      
      </div>
      <!--total-->
      <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">R$0</div>
    </div>
    <!--buy button-->
    <button type="button" class="btn-buy">Compre Agora</button>
    <!--Close Cart-->
    <i class="bx bx-x" id="close-cart"></i>
    </div>
        </header>
      
    <div id="header">
        <h2> Ouvidoria</h2>
      </div>

      <img src="imagens/Line 2.png" alt="">

      <main>
        <p>Na nossa loja de roupas, valorizamos a transparência, a qualidade do atendimento ao cliente e o constante aprimoramento dos nossos serviços. Reconhecemos a importância de fornecer um canal adicional de comunicação para lidar com reclamações, sugestões e feedbacks mais complexos e sensíveis. É por isso que estabelecemos um serviço de Ouvidoria dedicado, que atua como uma instância independente para lidar com questões específicas e garantir a resolução justa e imparcial de problemas. Nesta seção, apresentaremos nosso serviço de Ouvidoria, destacando sua importância e como ele funciona para atender às suas necessidades.</p>
        <p>A Ouvidoria é um canal de comunicação especializado, apartado das áreas operacionais, cujo objetivo é receber, analisar e encaminhar de forma imparcial e independente as demandas mais complexas e críticas dos nossos clientes. Essa instância tem como missão promover a justiça e a equidade, buscando soluções adequadas para problemas e reclamações que não foram resolvidos satisfatoriamente pelos canais tradicionais de atendimento ao cliente.</p>

        <ol>
            <li class="TIOL">Como entrar em contato com a Ouvidoria:</li>
            <p> Para contatar nossa Ouvidoria, você pode utilizar o formulário disponível em nosso site, enviar um e-mail ou utilizar o canal específico dedicado a esse serviço. Essas opções garantem que suas demandas sejam tratadas de forma confidencial e prioritária. Ao entrar em contato com a Ouvidoria, solicitamos que você forneça informações detalhadas sobre o problema, juntamente com qualquer documentação relevante.</p>
            <li class="TIOL">Análise e Resolução:</li>
            <p>Após receber sua demanda, nossa equipe de Ouvidoria conduzirá uma análise cuidadosa e imparcial do caso, levando em consideração todos os elementos e informações fornecidas. Faremos todos os esforços para garantir uma investigação completa e justa, buscando entender todas as perspectivas envolvidas. Nosso objetivo é encontrar uma solução satisfatória que respeite seus direitos como cliente e atenda às políticas e princípios da nossa empresa.
            </p>
            <li class="TIOL">Comunicação e Feedback:</li>
            <p>Durante o processo de análise e resolução, a Ouvidoria manterá uma comunicação clara e transparente com você. Manteremos você informado sobre o andamento do seu caso, forneceremos atualizações e solicitaremos qualquer informação adicional, se necessário. Valorizamos seu feedback e consideramos suas contribuições fundamentais para aprimorar nossos serviços e evitar problemas futuros.
            </p>
            <li class="TIOL">Compromisso com a excelência:</li>
            <p>A Ouvidoria da nossa loja de roupas é uma prova do nosso compromisso com a excelência no atendimento ao cliente. Estamos empenhados em garantir que todas as suas preocupações sejam tratadas de forma justa, imparcial e dentro dos prazos adequados. Nosso objetivo é aprender com cada situação e usar esse aprendizado para melhorar continuamente nossos produtos, serviços e processos.
            </p>
            <li class="TIOL">Estamos prontos para ouvi-lo:</li>
            <p>Na nossa loja de roupas, a Ouvidoria representa nossa dedicação em fornecer uma solução justa e imparcial para questões mais complexas. Valorizamos sua confiança e queremos garantir sua satisfação como cliente. Caso você tenha qualquer problema ou preocupação que não tenha sido resolvido satisfatoriamente pelos canais convencionais de atendimento ao cliente, encorajamos você a entrar em contato com nossa Ouvidoria. Estamos prontos para ouvir suas demandas, analisar cuidadosamente cada caso e buscar soluções justas e adequadas.
            </p>
        </ol>

        <p>
            Acreditamos que a Ouvidoria desempenha um papel fundamental no fortalecimento do relacionamento com nossos clientes, na identificação de áreas de melhoria e na garantia de que as reclamações sejam tratadas de forma imparcial e objetiva. Nossa equipe da Ouvidoria está aqui para ajudar a resolver problemas e garantir que sua voz seja ouvida.

        </p>

        <p> Valorizamos sua opinião e feedback, pois isso nos ajuda a aprimorar nossos serviços e oferecer uma experiência cada vez melhor. A Ouvidoria é uma parte essencial desse processo, pois nos permite tomar medidas corretivas e preventivas, além de garantir que possamos atender às expectativas dos nossos clientes de forma justa e transparente.
        </p>

        <p>Caso precise entrar em contato com nossa Ouvidoria, todas as informações e detalhes de contato estão disponíveis em nosso site. Garantimos a confidencialidade e a diligência na análise de cada caso, buscando sempre a resolução adequada e satisfatória.</p>

        <p>Agradecemos a confiança que você deposita em nossa loja de roupas e estamos comprometidos em fornecer um atendimento excepcional em todos os aspectos. A Ouvidoria é um reflexo desse compromisso, e estamos prontos para ouvir, compreender e agir para resolver suas preocupações de maneira justa e efetiva. Sua satisfação é nossa prioridade e estamos aqui para ajudá-lo em cada etapa do caminho.</p>

        <p>Caso você tenha alguma dúvida específica sobre os métodos de pagamento ou precise de assistência adicional, nossa equipe de suporte está disponível para ajudá-lo. Estamos aqui para tornar sua experiência de compra em nossa loja de roupas a mais conveniente e satisfatória possível.</p>
      </main>
</body>
</html>