<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Privacidade e Termos de Uso</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/privacidade.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="js/Script.js">
</head>
<body id="Home">
  
<header id="Header_home">
  <h1 id="Logo">
    <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
    
  </h1>

  <div class="pesquisa">

    <input type="text13" placeholder="Busque aqui.">
    <button type="button">
      <img src="imagens/Group 2 (1).png" alt="Psquisa">
    </button>
  </div>

  <div class="menu">
    <img id="menuBotao" src="imagens/hamburguer.png" onclick="changeImage()">
    
   
    <div class="submenu">
      <ul>
        <li><a class="tamanho" id="cart-icon"><i class='bx bx-cart' id="cart-icon" data-quantitiy="0"></i>Carrinho</a></li>
        <li><a href="/login"><img src="imagens/Perfil Hamburguer.png">Perfil</a></li>
        <li><a href="/configuracao"><img src="imagens/gearw 1.png">Config.</a></li>
      </ul>
    </div>
  </div>
                <!--cart-->
                <div class="cart">
                    <h2 class="cart-title">Seu carrinho</h2>
                    <!--content-->
                    <div class="cart-content">
                    
                    </div>
                    <!--total-->
                    <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">R$0</div>
                  </div>
                  <!--buy button-->
                  <button type="button" class="btn-buy">Compre Agora</button>
                  <!--Close Cart-->
                  <i class="bx bx-x" id="close-cart"></i>
                  </div>
</header>
<button id="back-button" onclick="goBack()"> <img src="imagens/Arrow 12.png" alt=""></button>
<div class="destaques">
    <h2 class="titulo-priv">Privacide e Termos de Uso</h2>
</div>
<div class="subtitulo-priv">
   <h3>Politica de Privacidade</h3>
</div>

<div id="privtexto">
    Esta Política de Privacidade descreve como coletamos, usamos e compartilhamos informações pessoais quando você utiliza nosso site de marketplace de roupas. Entende-se por informações pessoais os dados que podem ser usados para identificar ou contatar uma pessoa. Ao usar nosso site, você concorda com a coleta e uso de informações de acordo com esta política.
</div>

<div class="subtitulo-priv">
    <h3>Informações Coletadas</h3>
 </div>

 <div class="lista-priv">
    <ul class="lista-priv2">
        <li>Ao se cadastrar como vendedor ou comprador, coletamos informações pessoais, como nome, endereço de e-mail, endereço de entrega e outras informações relevantes.</li>
        <li>Quando você realiza uma compra ou venda em nosso marketplace, coletamos informações de transação, incluindo detalhes dos produtos e preços.</li>
        <li> Também coletamos informações de pagamento, como números de cartão de crédito, embora o processamento de pagamentos seja feito por meio de serviços seguros de terceiros.</li>
    </ul>
 </div>

 <div class="subtitulo-priv">
    <h3>Uso de Informações</h3>
 </div>

 <div class="lista-priv">
    <ul class="lista-priv2">
        <li>Usamos suas informações para fornecer e manter nossos serviços, incluindo o processamento de compras e vendas.</li>
        <li>Podemos usar suas informações para enviar notificações, atualizações ou comunicações sobre nossos serviços.</li>
        <li>Suas informações podem ser usadas para melhorar a experiência do usuário e personalizar o conteúdo oferecido.</li>
        <li>Podemos compartilhar informações com parceiros de confiança, como serviços de entrega e processadores de pagamento, para fornecer nossos serviços.</li>

    </ul>

    <div class="destaques">
        <h2 class="titulo-priv">Termos de Uso</h2>
    </div>
 </div>

 <div class="subtitulo-priv">
    <h3>Cadastro de Vendedores Autônomos</h3>
 </div>

 <div class="lista-priv">
    <ul class="lista-priv2">
        <li>Ao se cadastrar como vendedor em nosso marketplace, você concorda em fornecer informações verdadeiras e precisas sobre seus produtos e preços.</li>
        <li>Você é responsável pela precisão de suas informações de produtos, imagens e descrições.</li>
        <li>Você concorda em cumprir nossas políticas de vendas e padrões de qualidade.</li>
    </ul>

    <div class="subtitulo-priv">
        <h3>Compras de Compradores</h3>
     </div>

     <div class="lista-priv">
        <ul class="lista-priv2">
            <li>Ao realizar uma compra em nosso marketplace, você concorda em pagar pelo produto conforme acordado com o vendedor.</li>
            <li>Você concorda em fornecer informações precisas de entrega e pagamento.</li>
            <li>Você pode retornar produtos de acordo com nossa política de devolução.</li>
        </ul>

        <div class="subtitulo-priv">
            <h3>Resolução de Conflitos</h3>
         </div>
    
         <div class="lista-priv">
            <ul class="lista-priv2">
                <li>Nos esforçamos para fornecer uma plataforma de marketplace segura e confiável. Em caso de conflitos, encorajamos as partes envolvidas a tentar resolver de forma amigável.</li>
                <li>Em situações de disputa, você concorda em cumprir nossos procedimentos de resolução de conflitos.</li>
            </ul>


    <footer>

            <div class="rodinha">
        
           
              <nav>
             
                <ul>
                    <h3 class="subtitulo-rodape">Atendimento ao cliente</h3>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Central de Ajuda
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                           Como comprar
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Métodos de Pagamentos
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Garantia
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Devolução e Reembolso
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="#" class="cor-texto-rodape">
                            Fale Conosco
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Ouvidoria
                        </a>
                    </li>
        
                </ul>
        
            </nav>
        
          
            <nav>
              
                <ul>
                    <h3><br>Siga-nos</h3>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Instagram
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Twitter
                        </a>
                    </li>
        
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Facebook
                        </a>
                    </li>
        
                </ul>
            </nav>
        
          
            <nav>
              
        
                <ul>
                    <h3><br>Sobre a Nix</h3>
                    <li class="lista-rodape">
                        <a href="" class="cor-texto-rodape">
                            Sobre Nós
                        </a>
                    </li>
                    <li class="lista-rodape">
                        <a href=""class="cor-texto-rodape">
                            Políticas NIX
                        </a>
                    </li>
                    <li class="lista-rodape">
                        <a href=""class="cor-texto-rodape">
                            Políticas de Privacidade
                        </a>
                    </li>
                </ul>
            </nav>
        
            <ul>
                <nav >
                <h3>Pagamentos</h3>
        
                <div class="nini">
        
                <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                        <img src="imagens/visa.png">
                    </a>
                </li>
        
                <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                        <img src="imagens/mastercard.png">
                    </a>
                </li>
            </div>
            <div class="nini">
                <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                        <img src="imagens/elo.png">
                </li>
                <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                        <img src="imagens/paypal.png">
                    </a>
                </li>
                </div>
              </nav>
            </ul>
            </div>
            <div class="direito">
            <p>© 2022 NIXwear.Todos os direitos reservados</p>
            <p>País e região: Brasil</p>
            </div>
        
        </footer>
        
           <script src="js/Script.js"></script>
  <script src="js/carrinho.js"></script>
  <script src="js/cart.js"></script>
        
        
        </body>
        </html>
        


